
/* HOME PAGE */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100vw;
    padding-top: 5rem;
}

.home-search-section {
    width: 340px;
}

.search-bar {
    /* margin: 0 auto; */
    width: 100%;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-bar:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.search-bar:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}

.input-bar {
    height: 45px;
    border: none;
    width: 80%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    outline: none;
    background-color: white;
    color: black;
}

.search-voice {
    height: 1.25rem;
    position: relative;
    top: 0.25rem;
    right: 0.5rem;
}

.home-buttons {
    margin-top: 30px;
}

.home-buttons button {
    background-color: #f5f5f5;
    border: none;
    color: #707070;
    font-size: 15px;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    outline: none;
}

.home-buttons button:hover {
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color: #808080;
}

.home-buttons button:focus {
    border: 1px solid #4885ed;
    padding: 9px 19px;
}


/* RESULT PAGE */
.search-result-container {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-header {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 1rem;
}

.search-logo {
    margin: 0 auto;
    height: 2.5rem;
    margin-top: 1rem;
}

.search-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.search-bar-container {
    width: 100%;
    margin: 0 auto;
}

.search-data {
    margin: 0 auto;
    width: 95%;
}

/* SEARCH ITEM COMPONENT */
.search-item-container a:hover {
    
    .search-item-site-details {
        text-decoration: none;
    }

    .search-site-caption p {
        text-emphasis: none;
        text-decoration: none;
    }

    .search-item-title {
        text-decoration: underline;
    }
}

.search-item-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 1.75rem auto;
    transition: all 0.2s ease-in-out;
    /* padding: 0 1rem; */
}

.search-item-site-details {
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0;
}

.search-site-caption {
    margin-left: 1rem;
}

.search-site-image {
    height: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 0;
}

.search-site-text {
    margin: 0;
    padding: 0;
}

.search-site-text:last-child {
    font-size: small;
    font-weight: lighter;
}

.search-item-title {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #1A0DAB;
}

.search-item-snippet {
    padding: 0;
    margin: 0;
}

.search-information {
    display: none;
}

/* NAVBAR */

.navbar {
    width: 100vw;
    margin-top: 1.5rem;
}

.navbar hr {
    border: none;
    border-top: 0.5px solid #EBEBEB;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0 1rem;
    row-gap: 2rem;
    column-gap: 2rem;
    margin: 0;
}

.menu a {
    text-decoration: none;
    font-weight: 300;
    font-weight: 100;
    margin: 0;
    padding: 0;
    padding-bottom: 0.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.25rem;
}

.menu a.active {
    border-bottom: 0.25rem solid #8AB4F8;
    color: #8AB4F8;
}

/* TABLET MEDIA QUERY */
@media screen and (min-width: 600px) {
    .home-container {
        height: 100vh;
        justify-content: center;
        padding-top: 0;
    }

    .home-search-section {
        width: 450px;
    }

    .search-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-top: 1.5rem;
    }
    
    .search-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        margin: 0 1rem;
        padding: 0;
    }

    .search-logo img {
        width: 92px;
        height: 30px;
        object-fit: contain;
    }

    .search-bar-container {
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .search-bar-container .search-bar {
        width: 40rem;
    }

    .search-data {
        margin-left: 1.5rem;
        width: 40rem;
    }

    .menu {
        padding: 0 2rem;
    }

    .search-information {
        display: block;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        width: 75%;
        margin: 0;
        padding: 0;
    }

    .search-information p {
        color: #797D82;
        font-size: 0.9rem;
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-weight: 500;
        margin: 0;
        padding: 0;
        padding: 0.5rem 0.5rem 0;
    }

    .search-information {
        width: 100%;
        display: block;
        margin-left: 1.75rem;
        margin-top: 1rem;
    }
}

/* DESKTOP MEDIA QUERY */
@media screen and (min-width: 1000px) {
    .home-container {
        height: 100vh;
        justify-content: center;
        padding-top: 0;
    }

    .home-search-section {
        width: 600px;
    }

    .search-header {
        width: 100%;
        /* background-color: white; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-top: 1.5rem;
    }
    
    .search-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        margin: 0 1rem;
        padding: 0;
    }

    .search-logo img {
        width: 92px;
        height: 30px;
        object-fit: contain;
    }

    .search-bar-container {
        /* background-color: yellow; */
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .search-bar-container .search-bar {
        width: 40rem;
    }

    .search-data {
        margin-left: 12rem;
        width: 40rem;
    }

    .menu {
        padding: 0 13rem;
    }

    .search-information {
        width: 100%;
        display: block;
        margin-left: 25rem;
        margin-top: 0.5rem;
        margin-top: 1rem;
    }

    .search-information p {
        color: #797D82;
        font-size: 0.9rem;
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-weight: 500;
        margin: 0;
        padding: 0;
    }
}

@media (prefers-color-scheme: dark) {
    .search-bar {
        border: 1px solid #404040;
        background-color: #404040;
    }

    .search-bar:hover {
        box-shadow: 1px 1px 8px 1px black;
    }

    .search-bar:focus-within {
        box-shadow: 1px 1px 8px 1px #404040;
    }

    .input-bar {
        background-color: #404040;
        color: white;
    }

    .home-buttons button {
        color: #f5f5f5;
        background-color: #707070;
        border: none;
        font-size: 15px;
        padding: 10px 20px;
        margin: 5px;
        border-radius: 4px;
        outline: none;
    }

    .navbar hr {
        border: none;
        border-top: 0.5px solid grey;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .search-item-title {
        color: #8AB4F8;
    }
}
